.home-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
}

.home-container .disable-selection,
.home-container .disable-selection > span{ 
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
} 

.home-container .first-letter {
    font-size: 10rem;
}

.home-container .first-letter .others-letters {
    display:none;
}

.home-container .first-letter .others-letters.start-animation {
    display: inline-flex;
    animation-name: fade-in;
    animation-duration: 2.5s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.home-container .job-position {
    margin-top: 10px;
    width: auto;
    border-right: 2px solid #f0f0f0;
    white-space: nowrap;
    overflow: hidden;

    animation: typewriter 3s steps(44) 0.25s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
  from{max-width: 0;}
  to{max-width: 200px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #f0f0f0;}
  to{border-right-color: transparent;}
}

.home-container .social-media {
    display: inline-flex;
    justify-content: space-between;
    padding-top: 25px;
    width: 150px;
}

.home-container .social-media img {
    width: 30px;
    cursor: pointer;
}


@media screen and (max-width: 1023px) {

  .home-container .first-letter {
    font-size: 4rem;
  }

}


.home-container .portfolio-button {
  margin-top: 25px;
  padding: 10px;
  background: transparent;
  color: #f0f0f0;
  border: 1px solid #f0f0f0; 
  text-decoration: none;
  cursor: pointer
}

.home-container .portfolio-button:hover {
  color: #222222;
  border: 1px solid #222222; 
  background: #f0f0f0 ;
}
