* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box
}

html, body, div#root {
    height: 100%;
    width: 100%;
}

body {
    background: #222222;
    /* font: 14px Arial, Helvetica, sans-serif; */
    color: #f0f0f0;
    -webkit-font-smoothing: antialiased !important;
}